<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/js/raty-2.7.0/lib/jquery.raty.css">
  <link rel="stylesheet" href="/js/raty-wtf/lib/jquery.raty.css">
  <link rel="stylesheet" href="/js/rateit/src/rateit.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/raty-2.7.0/lib/jquery.raty.js"></script>
  <script src="/js/raty-wtf/lib/jquery.raty.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/rateit/src/jquery.rateit.js"></script>

  <title>WTF Video</title>
</head>
<body>
  <%= yield %>

</body>
</html>
